.controller.ds4.white {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/base%20%D0%BA%D0%BE%D0%BF%D1%96%D1%8F.png?raw=true);
}

.ds4.white.disconnected {
    background: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/disconnected2.png?raw=true);
}

.ds4.white .trigger {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/triggers2.png?raw=true);
}

.ds4.white .bumper {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/bumper%2099x22.png?raw=true);
}

.ds4.white .touchpad.pressed {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/touchpad2.png?raw=true);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/start2.png?raw=true);
}

.ds4.white .button {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/face.png?raw=true);
}

.ds4.white .stick {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/sticks2.png?raw=true);
}

.ds4.white .face {
    background-image: url(https://github.com/Hunt3RSH/DualSense-Skin-HD2/blob/main/img/DualShock%20Custom/dpad.png?raw=true);
}